.card-horizontal {
    background-color: orange;
    border-color: black;
    border-style: solid;
    width: 250px;
    height: 450px;

}

.flex-wrapper-horizontal {
    display: flex;
    justify-content: space-around;
}


/* VERTICAL FLEX */


.card-vertical {
    background-color: yellowgreen;
    border-color: black;
    border-style: solid;
    width: 250px;
    height: 450px;

}

.flex-wrapper-vertical {
    display: flex;
    justify-content: space-around;
}