
.flex-wrapper-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightblue;

}
.card-horizontal {
    background-color: orange;
    border-color: black;
    border-style: solid;
    width: 250px;
    height: 450px;

}




/* VERTICAL FLEX */

.flex-wrapper-vertical {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    background-color: grey;
    height: 1500px;
}
.card-vertical {
    background-color: yellowgreen;
    border-color: black;
    border-style: solid;
    width: 250px;
    height: 450px;
}

